* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 25%;
    top: 25%;
}

.all-content {
    border: 2px solid black;
    padding: 100px;
    border-radius: 7px;
    font: 10pt arial;
    background-color: white;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#botao {
    width: 100px;
    color: white;
    background-color: black;
    align-self: center;
    border-radius: 6px;
    transition: 0.3s;
}

#botao:hover {
    transform: translateY(-5px);
    background-color: white;
    color: black;
}